<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Neural Network visualization</title>

        <style>
            /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
            canvas {
                position: absolute;
                top: 10;
                left: 0;
            }

            p {
                color: white;
                background: #111
            }

            body {
                background: #111
            }
        </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

    </head>
    <body>

        <p>Neural Server</p>
        <p>2 networks</p>

        <canvas id=c></canvas>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>

    </body>
</html>
